<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>INDEX</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon"/>

	<link rel="stylesheet" href="/static/bootstrap-v4/css/newtab.css?version=v1.6.3" type="text/css" />
	<link rel="stylesheet" href="/static/bootstrap-v4/css/plugins/chosen/chosen.css?version=v1.6.3" type="text/css" />
	<link rel="stylesheet" href="/static/bootstrap-v4/css/bootstrap/bootstrap.min.css?version=v1.6.3" type="text/css" />
	<link rel="stylesheet" href="/static/bootstrap-v4/css/elusive-icons/elusive-icons.min.css?version=v1.6.3" type="text/css" />
	<link rel="stylesheet" href="/static/bootstrap-v4/css/common.css?version=v1.6.3" type="text/css" />
	<link rel="stylesheet" href="/static/bootstrap-v4/css/general.css?version=v1.6.3" type="text/css" />
	<link rel="stylesheet" href="/static/bootstrap-v4/css/add-edit-form.css?version=v1.6.3" type="text/css" />
	<link rel="stylesheet" href="/static/bootstrap-v4/css/main.css?version=v1.6.3" type="text/css" />

	<meta name="description" content="" />
	<meta name="robots" content="noindex, nofollow" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" /></head>
<body>
<style>
    @media (min-width: 576px) {
        .container .scroll-if-required {
            max-width: 540px;
            width: 540px;
        }
    }

    @media (min-width: 768px) {
        .container .scroll-if-required {
            max-width: 720px;
            width: 720px;
        }
    }

    @media (min-width: 992px) {
        .container .scroll-if-required {
            max-width: 968px;
            width: 968px;
        }
    }

    @media (min-width: 1200px) {
        .container .scroll-if-required {
            width: 1168px;
            max-width: 1168px;
        }
    }
</style>
<br/>
<div class="crud-form" data-unique-hash="07428aa561ea69290b7e725a466d5f4c">
    <div class="container gc-container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-label">
					<div class="floatL l5"><h1>Search</h1></div>
                    <div class="clear"></div>
                </div>
                <div class="form-container table-container">
                    <form action="{{  url_for('searchResults1') }}" method="Get" id="crudForm" enctype="multipart/form-data"> <!-- chaneeeeeeeeeeeeeeeeeeed-->
						<div class="form-group Institution_form_group row">
                            <label class="col-sm-3 control-label">Institution:</label>
                            <div class="col-sm-9">
                            	<input id='field-Institution' class='form-control' name='Institution' type='text' value='' maxlength='50' />
                            </div>
                        </div>
                        <div class="form-group InvoiceNumber_form_group row">
                            <label class="col-sm-3 control-label">Invoice Number:</label>
                            <div class="col-sm-9">
                            	<input id='field-InvoiceNumber' class='form-control' name='InvoiceNumber' type='text' value='' maxlength='50' />
                            </div>
                        </div>
                        <div class="form-group Instructor_form_group row">
                            <label class="col-sm-3 control-label">Instructor :</label>
                            <div class="col-sm-9">
                            	<input id='field-Instructor' class='form-control' name='Instructor' type='text' value='' maxlength='50' />
                            </div>
                        </div>
                        <div class="form-group Key_form_group row">
                            <label class="col-sm-3 control-label">Instructor Key:</label>
                            <div class="col-sm-9">
                            	<input id='field-AdminKey' class='form-control' name='AdminKey' type='text' value='' maxlength='50' />
                            </div>
                        </div>
                        

                    	<div class="form-group gcrud-form-group">
                    		<div class="col-sm-offset-3 col-sm-7">
                    			<button class="btn btn-secondary btn-success b10" type="submit" id="form-button-save"><i class="el el-ok"></i> Search</button>
                    		</div>
                    	</div>
                    	

                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script src="/static/js/jquery-2.2.4.min.js?version=v1.6.3"></script>
<script src="/static/js/jquery.chosen.min.js?version=v1.6.3"></script>
<script src="/static/js/jquery.chosen.config.js?version=v1.6.3"></script>
<script src="/static/js/add.min.js?version=v1.6.3"></script>
</body>
</html>